.navigation {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    background-color: #212121;
    padding: 0 2rem;
  
    &__logo {
        padding: 2.5rem;
        img{
            height: 90%;
            width: auto;
            // Invert colors
            filter: invert(1);
        }
    }
  
    &__links {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;
  
      .nav-link {
        padding: 1rem 0;
        cursor: pointer;
        color: #F6F6F6;
        // Hover effect: Border extends from left to right
        &:hover{
          border-bottom: 2px solid #F6F6F6;
        }
      }
    }
  }
  