html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: auto;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #212121;
    background-color: #F6F6F6;
  }
  button {
    background-color: #F6F6F6;
  }
}
